.dashboard-container {
  background-color: var(--bg-color);
  
  color: var(--text-color);
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 400px;
  min-height: 100vh;
  gap: .8rem;
  padding: .8rem;
}

.editor-section {
  display: flex;
  flex-direction: column;
  gap: .8rem;
 
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  height: fit-content;
  
}

/* Responsive */
@media (max-width: 1024px) {
  .dashboard-container {
    grid-template-columns: 1fr 250px;
  }
}

@media (max-width: 900px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .sidebar {
    flex-direction: column;
    order: 1;
  }
  .editor-section{
    height:fit-content;
    /* min-height: 800px; */
    order: 2;
  }
}
